.balance-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-bottom: 3rem;
}

    .balance-container h2{
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;

    }   

    .stats-container{
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        padding: 10px;
    }

        .sales-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            font-size: 30px;
            font-weight: 700;
        }

        .stats-container table{
            width: 100%;
            border-collapse: collapse;
        }

            .stats-container table thead{
                background-color: #f5f5f5;
                text-align: left;
            }

            .stats-container table tr{
                border-bottom: 1px solid #e0e0e0;
            }

                .stats-container table tr td{
                    padding: 10px;
                    font-size: 14px;
                    font-weight: 500;
                }

                .stats-container table tr td:first-child{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-weight: 700;
                    gap: 10px;
                    border: none;
                }

                .quantity-container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    width: 20px;
                    height: 20px;
                    background-color: var(--secondary);
                    border-radius: 16px;
                    color: var(--white);
                }