:root {
  --red: #dc3545;
  --primary: #7e4ef8;
  --secondary: #a282f5;
  --white: #fff;
  --blue-white: #bfaddb;
  --violet-white: #adb8db;
  --cian-white: #adccdb;
  --gray: #a9a9a9;
  --soft-gray: #f3f3f3;
  --gray-dark: #5f5f5f;
  --danger: #FFB3B3;
  --warning: #FFF2B3;
  --success: #6feb8b;
  --dark: #0c0c0c;
  --soft-dark:#333;
  --transparent: transparent;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-family-dancing: 'Dancing Script', cursive;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: var(--font-family-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--soft-dark);
}

a{
  text-decoration: none;
  font-size: 0.84em;
  line-height: 1;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 8px solid var(--primary);
    border-top: 8px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  .separator {
    border: none;
    border-top: 2px solid #7e4ef8; /* Color de la línea */
    margin: 20px 0; /* Espaciado arriba y abajo */
    width: 55%; /* Ancho completo */
    opacity: 0.8; /* Transparencia */
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}

.error-message {
  color: #86eb97;
  padding: 10px;
  border-radius: 5px;
}



.dashboard-container{
  display: flex;
  align-items: end;
  justify-content: end;
  width: 100%;
}

.dashboard-container--ajust{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

nav{
  position: fixed;
  width: 10%;
  height: 100vh;
  background-color: var(--soft-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: var(--white);
}

  .navbar-container{
      margin-top: 1rem;
      display: flex;
      align-items: start;
      justify-content: start;
  }

      .navbar-user--info{
          display: flex;
          flex-direction: column;
      }

          .navbar-user--info > * {
              margin: 0;
              padding: 0;
          }

          .navbar-user--info h1{
              font-size: 1.5rem;
          }

          .navbar-user--info h3{
              font-size: 0.75rem;
              color: var(--gray);
          }

          .navbar-menu{
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: start;
              justify-content: space-between;
          }

              .navbar-menu a{
                  color: var(--white);
                  text-decoration: none;
                  font-size: 15px;
                  font-weight: 1000;
                  transition: 0.2s;
                  padding: 0;
                  margin: 0;
                  text-transform: uppercase;
              }

                  .navbar-menu a:hover{
                      color: var(--primary);
                      cursor: pointer;
                  }

                  .navbar-menu a.active{
                      color: var(--primary);
                  }
            
            .navbar-logout{
                margin-bottom: 1rem;
            }

                .navbar-logout a{
                    color: var(--white);
                    text-decoration: none;
                    font-size: 15px;
                    font-weight: 1000;
                    transition: 0.2s;
                    padding: 0;
                    margin: 0;
                    text-transform: uppercase;
                }

                    .navbar-logout a:hover{
                        color: var(--red);
                        cursor: pointer;
                    }

                    .navbar-logout a.active{
                        color: var(--red);
                    }
    
  .table--buttons{
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 30px;
    }          
          
    .table--button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        background-color: var(--primary);
            color: var(--white);
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.2s;
    }
            .table--button:hover{
                background-color: var(--secondary);
            }

            .table--button:active{
                background-color: var(--primary);
            }


  .modal, .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease 0s;
  }
          
          .modal-content {
              background-color: white;
              margin: 15% auto;
              padding: 20px;
              border: 1px solid #888;
              width: 25%;
              border-radius: 10px;
          }
          
          .modal-content input{
              width: 200px;
              padding: 10px;
              border-radius: 10px;
              border: 1px solid #ddd;
          }
          
              .modal-content form{
                  display: flex;
                  flex-direction: column;
                  gap: 10px;
              }
          
              .form-group-stock{
                  display: flex;
                  flex-direction: row !important;
                  gap: 10px;
              }
          
          
          .select2-container {
              width: 200px !important;
          }
          
          .select2-selection {
              padding: 8px !important;
              border-radius: 10px !important;
              border: 1px solid #ddd !important;
              height: auto !important;
          }
          
          .select2-container--default .select2-selection--single .select2-selection__rendered {
              padding: 0 !important;
              font-size: inherit !important;
              margin: 0 !important;
              line-height: normal !important;
          }
          
          
          .modal-content button{
              padding: 10px;
              border-radius: 10px;
              background-color: var(--primary);
              color: white;
              border: none;
              cursor: pointer;
              transition: 0.3s;
          }
          
          .modal-content button:hover{
              transform: scale(1.1);
          }
          
          .modal-content select{
              width: 450px;
              padding: 10px;
              border-radius: 10px;
              border: 1px solid #ddd;}
          
              .modal-content .product{
                  width: 220px;
              }
          
          .close, .close--sub {
              float: right;
              font-size: 28px;
              cursor: pointer;
          }

          .menu--button, .submenu--button{
            padding: 10px;
                border-radius: 10px;
            background-color: var(--primary);
            color: white;
            border: none;
            cursor: pointer;
            transition: 0.3s;
        }
    
            .menu--button:hover, .submenu--button:hover{
                transform: scale(1.1);
            }
          