body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
}

.sesion-nav{
  position: fixed;
  width: 100%;
  height: 150px;
  background-color: var(--transparent);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 0 10px;
  box-shadow: none;
  border: 1px solid var(--soft-gray);
  color: var(--text);
}

  .sesion-nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
  }

    .sesion-nav-menu .title{
      margin: 0 !important;
    }

    .sesion-nav--title{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

.e-card {
    background: transparent;
    position: relative;
    width: 60%;
    height: 100vh;
    overflow: hidden;  
  }
  
  .wave {
    position: absolute;
    width: calc(100% * 2);
    height: calc(100vh * 2);
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -15%;
    background: linear-gradient(744deg,#af40ff,#5b42f3 60%,#00ddeb);
  }
  
  .wave:nth-child(2),
  .wave:nth-child(3) {
    top: 410px;
  }
  
  .playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
  }
  
  .wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
  }
  
  .playing .wave:nth-child(2) {
    animation-duration: 4000ms;
  }
  
  .wave:nth-child(2) {
    animation-duration: 50s;
  }
  
  .playing .wave:nth-child(3) {
    animation-duration: 5000ms;
  }
  
  .wave:nth-child(3) {
    animation-duration: 45s;
  }
  
  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }





.income-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    gap: 40px;
    box-sizing: border-box;
    padding: 15px;
    
}

.income--business-container, .income--plans-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  gap: 10px;

}

  .income--plans-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .title-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
   
  }

    .title{
      position: relative;
      color: var(--primary);
      font-family: sans-serif;
      font-size: 50px;
      font-weight: 800;
      letter-spacing: 0.25rem;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

      .title-desing{
        color: var(--secondary);
      }

    .title-container .icon{
      width: 100px;
      height: 100px;
    }

  .input-container {
    height: 50px;
    position: relative;
    width: 85%;
  }
  
  .input {
    background-color: #eee;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #4b4b4b;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }

  .select{
    background-color: #eee;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #4b4b4b;
    font-size: 18px;
    height: 45px;
    width: 85%;
    outline: 0;
    padding: 4px 20px 0;
  }
  
  .cut {
    background-color: #fff;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .iLabel {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .input:focus ~ .iLabel,
  .input:not(:placeholder-shown) ~ .iLabel  {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:focus) ~ .iLabel {
    color: #808097;
  }
  
  .input:focus ~ .iLabel {
    color: #7e4ef8;
  }


  button {
    margin-top: 20px;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #808097;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    transition: all 250ms;
    overflow: hidden;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #7e4ef8;
    z-index: -1;
    transition: all 250ms
   }
   
   button:hover {
    color: #e8e8e8;
    cursor: pointer;
   }
   
   button:hover::before {
    width: 100%;
   }

   button:active {
    transform: scale(0.95);
   }
/* 
   a {
    color: #7e4ef8;
    font-size: 14px;
    text-decoration: none;
    margin-top: 20px;
   }

   a:hover {
    text-decoration: underline;
    transform: scale(1.1);
   }

   a:active {
    transform: scale(0.95);
   } */


  .business-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 40px;
    box-sizing: border-box;
  }

    .business-form-2{
      background-image: linear-gradient(163deg, var(--violet-white) 0%, var(--secondary) 100%);
      border-radius: 20px;
      transition: all .3s;
    }
   
   .business-form-2:hover {
    box-shadow: 0px 0px 30px 1px rgba(132, 0, 255, 0.3);
   }

  .business-plans{
    width: 220px;
    padding: 10px 0px;
    background: var(--white);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 30px 1px rgba(132, 0, 255, 0.3);
    transition: all 0.3s ease-out;
    text-decoration: none;
  }

  .business-plans:hover {
    transform: scale(0.97);
    border-radius: 20px;
   }

  .business-select--checkbox:checked ~ .business-plans {
    transform: scale(1.03);
    border-radius: 20px;
    box-shadow: 0px 0px 30px 1px rgba(132, 0, 255, 0.3);
  }

  


    .business-title--container{
      align-items: center;
      padding: 20px;
      padding-top: 40px;
      background-image: linear-gradient(163deg, var(--secondary) 0%, var(--violet-white) 100%);
      border-radius: 12px;
      position: relative;
    }

      .business-title{
        color: var(--white);
        font-size: 1.5rem;
        font-weight: 800;
        line-height: 1.5;
        text-align: center;
      }

      .business-title--container span{
        font-size: 1.125rem;
        font-weight: 800;
        line-height: 1.5;
        color: var(--white);
      }

    .business-plans--container{
      box-sizing: border-box;
      padding: 0px 25px;
      width: 100%;
    }
   
    .business-plans--list{
      padding: 12.5px 0px;
      margin: 0px;
      list-style: none;
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(128, 128, 128, 0.4);
    }

      .business-plans--list:last-child{
        border: none;
      }

      .business-plans--attributes{
        flex-direction: column;
        align-items: flex-start;
      }

       .default-attributes--title{
        font-size: 0.8125rem;
        font-weight: 500;
        line-height: 1.53846;
        color: var(--gray);
       }

       .default-attributes--data{
        margin: 0px;
        padding: 0px;
        color: var(--soft-dark);
        font-size: 1rem;
        font-weight: 500;
       }

       .plans-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 80px;
        box-sizing: border-box;
       }

